:root {
  --primary-color: #111344;
  --secondary-color: #f5edf0;
  --tertiary-color: #3c91e6;
  --q-color: #d35269;
  --heading-font: "Montserrat", sans-serif;
  --default-font: "Poppins", sans-serif;
}

.about-section {
  margin: 30px;
}

h1 {
  line-height: 40px;
}
h1 span {
  font-size: 40px;
  opacity: 50%;
}
h2 {
  font-family: var(--heading-font);
  font-weight: 600;
}

p {
  font-family: var(--default-font);
}

.btn-preset {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-family: var(--default-font);
  font-weight: normal;
  padding: 15px;
}

@media (max-width: 995px) {
  .about-section {
    text-align: center;
  }
}

@media (max-width: 620px) {
}

@media (max-width: 550px) {
}
