:root {
  --primary-color: #111344;
  --secondary-color: #f5edf0;
  --tertiary-color: #3c91e6;
  --q-color: #d35269;
  --heading-font: "Montserrat", sans-serif;
  --default-font: "Poppins", sans-serif;
}

.about-section {
  margin: 30px;
}

h1 {
  line-height: 50px;
}

h1 span {
  font-size: 33px;
  opacity: 50%;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 600;
}

p {
  font-family: var(--default-font);
  color: var(--primary-color);
}

.subtext {
  background-color: #F0F0F0;
  padding: 15px;
  border-radius: 15px;
}

p a {
  text-decoration: none;
  color: var(--q-color);
  transition: all 150ms ease-in-out;
}

p a:hover {
  color: var(--tertiary-color);
}

.btn-preset {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-family: var(--default-font);
  font-weight: normal;
  padding: 15px;
}

.btn-preset:hover {
  background-color: var(--q-color);
  color: var(--secondary-color);
}

@media (max-width: 995px) {
  .about-section {
    text-align: center;
  }
}

@media (max-width: 620px) {}

@media (max-width: 550px) {
  h1 {
    font-size: 37px !important;
  }

  h1 span {
    font-size: 20px !important;
  }
}