:root {
  --primary-color: #111344;
  --secondary-color: #f5edf0;
  --tertiary-color: #3c91e6;
  --q-color: #d35269;
  --heading-font: "Montserrat", sans-serif;
  --default-font: "Poppins", sans-serif;
}

.work-section {
  margin: 30px;
}

h1 {
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 600;
}

h3,
p {
  font-family: var(--default-font);
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

p {
  font-size: 14px;
}

.row a:hover {
  opacity: 80%;
}

@media (max-width: 995px) {
  .work-section {
    text-align: center;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 39px !important;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 35px !important;
  }
}